{% extends "base.html" %}
{% load static %}

{% block title %} About {% endblock %}

   
{% block content %}

<div class="jumbotron">
    <h2 class="display-8">Briefly about me</h2>
   
    <div class="info-list">
        <ul>
            <li><strong>Age :</strong> 19</li>
            <li><strong>Current position :</strong> 3rd year student in KHAI</li>
            <li><strong>Address :</strong> Kharkiv, Ukraine</li>
            <li><strong>E-mail :</strong> ekaterina.semeniaka@gmail.com</li>
            <li><strong>My other projects :</strong> <a href="https://github.com/katesem">@katesem</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-link"><a href="{% static 'images/CV.pdf'%}" download="FileName">Download CV</a></button>
   
    </div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
{% endblock %}