{% extends 'base.html' %}
{% load static %}

{% block title %} Account Creation {% endblock %}

{% block content %}

<br>
<h3 align = 'center'>Create an  Account</h3>
<div class = "container">
<div class = "form-group">
<form method = "POST">
     {% csrf_token %}
     {{form.as_p}}
     {% if form.errors %}
     {% for field in form %}
         {% for error in field.errors %}
             <div class="alert alert-danger">
                 <strong>{{ error|escape }}</strong>
             </div>
         {% endfor %}
     {% endfor %}
     {% for error in form.non_field_errors %}
         <div class="alert alert-danger">
             <strong>{{ error|escape }}</strong>
         </div>
     {% endfor %}
 {% endif %}
 <p>
     <button type = "submit" class = "btn btn-success">  Submit <i class="fa fa-check"></i> 
     </button>&nbsp; &nbsp; Already have an account? Log in <a href = "/log_in">here.</a>
</p>
      </form>
</div>
</div>

{% endblock%}
