{% extends "base.html" %}

{% block content %}


<div class="jumbotron jumbotron-fluid text-white rounded bg-dark">
    <div class="container">
    <div class="col-md-8 px-0">
      <h1 class="display-4 font-italic">Welcome to my Learning Hub !</h1>
      <p class="lead my-3">Hello! My name is Kate and this is my training project. If your would like to know more about me and  my projects click on the option below...</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">More about me...</a></p>
    </div>
  </div>
</div>

{% endblock %}
